@model Controllers.ViewModels.HomeViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    private string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href='css/main.css' rel='stylesheet' />
}

<div class="text-center">
    <p>Just a simple demo of clean architecture flow</p>
    <label asp-for="Time"></label>
    <input type="datetime-local" asp-for="Time" />

    <label asp-for="Description"></label>
    <input type="text" asp-for="Description" />

    <input type="button" value="Submit" onclick="SubmitForm()" />
</div>

<div class="text-center">
    <div id="calendar"></div>
</div>


@section Scripts
{
    <script src="~/js/main.js"></script>
    <script>

    function SubmitForm() {
        var data = {
            'Description': $("#Description").val(),
            'Time': $("#Time").val(),
            'User': sessionStorage.getItem('conectionId')
        };

        $.ajax({
            url: '@Url.Action("AddToDo","ToDo")',
            type: 'POST',
            data: data,
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            success: function (data) {
                // result is returned by SignalR (in site.js)
            },
            error: function (request, error) {

            }
        });
    }
    </script>
}
