@{
    ViewData["Title"] = "Contact page";
}

@section Styles {
    <link href='css/main.css' rel='stylesheet' />
}

<div class="text-center">
   <p>Contact data would be displayed here later</p>
</div>
